/* FORM STYLING */

.loginFormStyling {
    background: white;
    padding: 1% 7%;
    box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.5);
}

.toggle-form {
    right: -9999px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: right .6s ease-in-out;
}
.form-group {
    margin-bottom: 6px;
}

.formwrap {
    background: linear-gradient(rgb(223, 218, 233) 0%, rgb(249, 238, 202) 100%);
    padding: 15% 10%;
    height: 100vh;
    float: right;
}
.form-group span, .clubbedFormGroup span, .formDetailsError{
    color: #cc5252;
}

.icon-close {
    transition: right .6s ease-in-out;
    cursor: pointer;
    text-align: right;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.icon-close i {
    margin-left: 10px;
}

.toggle-form.active {
    right: 0;
}

.toggle-form .formwrap img {
    width: 20px;
}

.submitButtonHolder {
    text-align: center;
    margin-bottom: 10px;
}

.orange {
    background-color: #ff910e;
    border-color: #ff910e;
    color: #fff;
    padding: 6px 10px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 25px;
    max-width: 200px;
}

.form-group {
    position: relative;
}
.modal{
    font-size: 18px;
    color: #cc5252;
}

.form-group i {
    position: absolute;
    font-size: 24px;
    top: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 900;
}

.form-group input,
.form-group select {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    border-bottom: 1px solid #ced4da;
    transition: border-color .15s ease-in-out;
    box-shadow: .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out;
    -webkit-box-shadow: .15s ease-in-out;
    margin-left: 35px;
    width: 90%;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    box-shadow: none;
}


/* 
.form-group input:valid .control-label {
    transform: translateY(-14px) scale(0.8) !important;
    font-size: 0.95rem !important;
} */

.formHeading {
    text-align: center;
}

#registrationForm .formwrap {
    padding: 0% 6%;
}

.clubbedTags {
    display: inline-flex;
    width: 44%;
}

.clubbedTags:nth-child(2) {
    margin-left: 20px;
}


/* label top: -25%;
margin-left: 35px;
width: 90%;
margin: 45px 35px; */


/* 
.form-group label {
    position: absolute; */


/* top: 0;
     */


/* left: 35px;
    color: #757575;
    cursor: text; */


/* -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; */


/* font-size: 15px;
} */