<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactsAndNetworkingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAdminServlet</display-name>
    <servlet-name>ViewAdminServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminServlet</servlet-name>
    <url-pattern>/viewAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersServlet</display-name>
    <servlet-name>ViewAllUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersServlet</servlet-name>
    <url-pattern>/viewAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDisabledUsersServlet</display-name>
    <servlet-name>ViewAllDisabledUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllDisabledUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDisabledUsersServlet</servlet-name>
    <url-pattern>/viewAllDisabledUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDeletedUsersServlet</display-name>
    <servlet-name>ViewAllDeletedUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllDeletedUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDeletedUsersServlet</servlet-name>
    <url-pattern>/viewAllDeletedUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisableUserServlet</display-name>
    <servlet-name>DisableUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DisableUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisableUserServlet</servlet-name>
    <url-pattern>/disableUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveImageServletTest</display-name>
    <servlet-name>SaveImageServletTest</servlet-name>
    <servlet-class>com.hsbc.servlets.SaveImageServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveImageServletTest</servlet-name>
    <url-pattern>/saveImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageServletTest</display-name>
    <servlet-name>GetImageServletTest</servlet-name>
    <servlet-class>com.hsbc.servlets.GetImageServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServletTest</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveImageServletTestAjax</display-name>
    <servlet-name>SaveImageServletTestAjax</servlet-name>
    <servlet-class>com.hsbc.servlets.SaveImageServletTestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveImageServletTestAjax</servlet-name>
    <url-pattern>/saveImageAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageServletTestAjax</display-name>
    <servlet-name>GetImageServletTestAjax</servlet-name>
    <servlet-class>com.hsbc.servlets.GetImageServletTestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServletTestAjax</servlet-name>
    <url-pattern>/getImageAjax</url-pattern>
  </servlet-mapping>
</web-app>