<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactsAndNetworkingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAdminServlet</display-name>
    <servlet-name>ViewAdminServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminServlet</servlet-name>
    <url-pattern>/viewAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersAdminServlet</display-name>
    <servlet-name>ViewAllUsersAdminServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllUsersAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersAdminServlet</servlet-name>
    <url-pattern>/viewAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDisabledUsersServlet</display-name>
    <servlet-name>ViewAllDisabledUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllDisabledUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDisabledUsersServlet</servlet-name>
    <url-pattern>/viewAllDisabledUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDeletedUsersServlet</display-name>
    <servlet-name>ViewAllDeletedUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllDeletedUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDeletedUsersServlet</servlet-name>
    <url-pattern>/viewAllDeletedUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisableUserServlet</display-name>
    <servlet-name>DisableUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DisableUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisableUserServlet</servlet-name>
    <url-pattern>/disableUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOneFriendServlet</display-name>
    <servlet-name>ViewOneFriendServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewOneFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOneFriendServlet</servlet-name>
    <url-pattern>/viewOneFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllFriendServlet</display-name>
    <servlet-name>ViewAllFriendServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllFriendServlet</servlet-name>
    <url-pattern>/viewAllFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFriendServlet</display-name>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <url-pattern>/removeFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockFriendServlet</display-name>
    <servlet-name>BlockFriendServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.BlockFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockFriendServlet</servlet-name>
    <url-pattern>/blockFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequestServlet</display-name>
    <servlet-name>ViewPendingRequestServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewPendingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequestServlet</servlet-name>
    <url-pattern>/viewPendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeactivateUserServlet</display-name>
    <servlet-name>DeactivateUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DeactivateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateUserServlet</servlet-name>
    <url-pattern>/deactivateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserServlet</display-name>
    <servlet-name>ViewUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserServlet</servlet-name>
    <url-pattern>/viewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFriendRequestServlet</display-name>
    <servlet-name>SendFriendRequestServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.SendFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFriendRequestServlet</servlet-name>
    <url-pattern>/sendFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IgnoreFriendRequestServlet</display-name>
    <servlet-name>IgnoreFriendRequestServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.IgnoreFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IgnoreFriendRequestServlet</servlet-name>
    <url-pattern>/ignoreFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptFriendRequestServlet</display-name>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.AcceptFriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptFriendRequestServlet</servlet-name>
    <url-pattern>/acceptFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBlockedUserServlet</display-name>
    <servlet-name>ViewBlockedUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewBlockedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBlockedUserServlet</servlet-name>
    <url-pattern>/viewBlockedUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnBlockUserServlet</display-name>
    <servlet-name>UnBlockUserServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.UnBlockUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnBlockUserServlet</servlet-name>
    <url-pattern>/unBlockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactServlet</display-name>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/createContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllContactServlet</display-name>
    <servlet-name>ViewAllContactServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewAllContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllContactServlet</servlet-name>
    <url-pattern>/viewAllContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewContactServlet</display-name>
    <servlet-name>ViewContactServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewContactServlet</servlet-name>
    <url-pattern>/viewContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/updateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMostActiveUsersServlet</display-name>
    <servlet-name>ViewMostActiveUsersServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.ViewMostActiveUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMostActiveUsersServlet</servlet-name>
    <url-pattern>/viewMostActiveUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoPopulateContactDetailsServlet</display-name>
    <servlet-name>AutoPopulateContactDetailsServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.AutoPopulateContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoPopulateContactDetailsServlet</servlet-name>
    <url-pattern>/autoPopulateContactDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hsbc.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServet</display-name>
    <servlet-name>SearchUserServet</servlet-name>
    <servlet-class>com.hsbc.servlets.SearchUserServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServet</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
</web-app>